{%extends 'base.html'%}
{%block title%}Advanced Player Stat Search{%endblock%}

{%block content%}
<h1>Advanced Search</h1>
<form action="/api/adv-player-stats" method="POST" id="player-search-form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field(placeholder=field.label.text, class="form-control", id=field.label.field_id) }}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-primary btn-block btn-lg">Search</button>
</form>
<br>
<a href="/api/get-player-stats" class="btn btn-info">Back To Player Search</a>
{%endblock%}