{%extends 'base.html'%}
{%block title%}Welcome{%endblock%}

{%block content%}
<div>
    <table class="table">
        <caption>Season Scoring Leaders</caption>
        <tr>
            <th>Season</th>
            <th>Player Name</th>
            <th>Average Points Per Game</th>
            <th>Rank</th>
        </tr>
        {%for player in scoring_leaders%}
        <tr>
            <td>{{player.season}}</td>
            <td>{{player.first_name}} {{player.last_name}}</td>
            <td>{{player.pts}}</td>
            <td>{{player.rank}}</td>
        </tr>
        {%endfor%}
    </table>
    <table class="table">
        <caption>Season Rebounding Leaders</caption>
        <tr>
            <th>Season</th>
            <th>Player Name</th>
            <th>Average Rebounds Per Game</th>
            <th>Rank</th>
        </tr>
        {%for player in rebounding_leaders%}
        <tr>
            <td>{{player.season}}</td>
            <td>{{player.first_name}} {{player.last_name}}</td>
            <td>{{player.reb}}</td>
            <td>{{player.rank}}</td>
        </tr>
        {%endfor%}
    </table>
    <table class="table">
        <caption>Season Assisting Leaders</caption>
        <tr>
            <th>Season</th>
            <th>Player Name</th>
            <th>Average Assists Per Game</th>
            <th>Rank</th>
        </tr>
        {%for player in assisting_leaders%}
        <tr>
            <td>{{player.season}}</td>
            <td>{{player.first_name}} {{player.last_name}}</td>
            <td>{{player.ast}}</td>
            <td>{{player.rank}}</td>
        </tr>
        {%endfor%}
    </table>
    <table class="table">
        <caption>Season Stealing Leaders</caption>
        <tr>
            <th>Season</th>
            <th>Player Name</th>
            <th>Average Steals Per Game</th>
            <th>Rank</th>
        </tr>
        {%for player in stealing_leaders%}
        <tr>
            <td>{{player.season}}</td>
            <td>{{player.first_name}} {{player.last_name}}</td>
            <td>{{player.stl}}</td>
            <td>{{player.rank}}</td>
        </tr>
        {%endfor%}
    </table>
    <table class="table">
        <caption>Season Blocking Leaders</caption>
        <tr>
            <th>Season</th>
            <th>Player Name</th>
            <th>Average Blocks Per Game</th>
            <th>Rank</th>
        </tr>
        {%for player in blocking_leaders%}
        <tr>
            <td>{{player.season}}</td>
            <td>{{player.first_name}} {{player.last_name}}</td>
            <td>{{player.blk}}</td>
            <td>{{player.rank}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
<div class="">
    <h1>Welcome to the Get NBA App!</h1>
    <p>Sign up now to enjoy the site!</p>
    <a href="/signup" class="btn btn-primary">Sign up</a>
    <h4>Already has an account?</h4>
    <p>Sign back in by clicking the Log In button!</p>
    <a href="/login" class="btn btn-primary">Log In</a>
</div>
{%endblock%}